<main class="container">
    <app-mail-navbar></app-mail-navbar>

  <div class="row">
    <div class="col-9 mail-content-section">

       <mail-inbox-filter-buttons></mail-inbox-filter-buttons>
      <!--<h5 *ngIf="user">{{user}}</h5>-->


      <mail-inbox-mock-data [mailStateData]="mailData"></mail-inbox-mock-data>


      <div *ngFor="let item of userInbox">
        <h5>From: {{item.fromEmail}}</h5>
        <h5>Subject: {{item.subject}}</h5>
        <h5>Body: {{item.body}}</h5>
        <span class="sent-date font-300">{{item.createdAt | date:'MMM dd, hh:mm:ss'}}</span>
        <hr />
      </div>

    </div>
  </div>

</main>