<main class="container">

  <div class="jumbotron margin-20">
    <h5 class="todo-title"><strong>Email:</strong> {{auth.user.email}}</h5>
    <h5 class="todo-title"><strong>userID: </strong>{{auth.user._id}}</h5>
    <h5 class="todo-title">Add Todos.</h5>

    <form (submit)="handleSubmit(todo.value); todo.value='' ">
        <input #todo class="todo-input form-control">
        <!--<textarea #todo class="todo-input form-control" rows="6"></textarea>-->
    </form>
    <button (click)="createTodo()" class="btn btn-success">Create Todo</button>

  </div>
</main>