<main class="login container">
  <div class="row">
    <div class="col-12 col-6-tablet push-3-tablet text-center heading jumbotron">
      <h1 class="font-100">Account Login</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger alert-animation" role="alert" *ngFor="let m of messages">
        <h5><strong>{{ m }}</strong></h5>
      </div>
    </div>
  </div>

        
  <div class="row">
    <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop">

      <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
        <fieldset>
          <input class="block" formControlName="email" placeholder="Email">
        </fieldset>
        <div class="field-error-container" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          <span *ngIf="loginForm.controls['email'].hasError('required')" class="alert alert-danger alert-animation text-danger">This field is required!</span>
          <span *ngIf="loginForm.controls['email'].hasError('minlength')" class="alert alert-danger alert-animation text-danger">Please enter a value longer than 3 characters!</span>
        </div>
        <fieldset>
          <input class="block" type="password" formControlName="password" placeholder="Password">
        </fieldset>
        <div class="field-error-container" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
          <span *ngIf="loginForm.controls['password'].hasError('required')" class="alert alert-danger alert-animation text-danger">This field is required!</span>
          <span *ngIf="loginForm.controls['password'].hasError('minlength')" class="alert alert-danger alert-animation text-danger">Please enter a value longer than 3 characters!</span>
        </div>
        <span>Don't have an Account? <a class="text-primary" routerLink="/signup">Sign up!</a></span>
        <button [disabled]="!loginForm.valid" type="submit" id="login" class="btn-primary button button-primary block signup">Submit</button>
      </form>

    </div>
  </div>
</main>