<main class="login container">
  <div class="row">
    <div class="col-12 col-6-tablet push-3-tablet text-center heading">
      <h1 class="font-100">Account Signup</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop">

      <form [formGroup]="signupForm" (ngSubmit)="submitForm(signupForm.value)">
        <fieldset>
          <input class="block" formControlName="email" placeholder="Email">
        </fieldset>
        <div *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
          <span *ngIf="signupForm.controls['email'].hasError('required')" class="alert-error">This field is required!</span>
          <span *ngIf="signupForm.controls['email'].hasError('minlength')" class="alert-error">Please enter a value longer than 6 characters!</span>
        </div>
        <fieldset>
          <input class="block" type="password" formControlName="password" placeholder="Password">
        </fieldset>
        <div *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
          <span *ngIf="signupForm.controls['password'].hasError('required')" class="alert-error">This field is required!</span>
          <span *ngIf="signupForm.controls['password'].hasError('minlength')" class="alert-error">Please enter a value longer than 6 characters!</span>
        </div>

        <span>Already have an Account? <a class="text-primary" routerLink="/login">Login here!</a></span>
        <button [disabled]="!signupForm.valid" type="submit" id="login" class="button button-primary block signup">Submit</button>
      </form>
        
        <div class="d-flex justify-content-center">
          <ul class="no-list-decoration">
            <li class="alert alert-danger" *ngFor="let m of messages">{{m}}</li>
          </ul>
        </div>

    </div>
  </div>
</main>